
body {
	font-family: 'Roboto', sans-serif;
}

p {
	font-size: 13px;
	line-height: 26px;
}

a {
	color: #ff6;
}

a:hover {
	color: #0CF;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.primary-button a {
  display: inline-block;
  background-color: #fa5252;
  color: #fff;
  letter-spacing: 1px;
  font-size: 11px;
  padding: 12px 18px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.primary-button a:hover {
  background-color: transparent;
  border: 1px solid #fff;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.heading h4 {
  margin-bottom: 60px;
  margin-top: 0px;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  height: 85vh;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__list--active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  font-size: 24px;
  background: #3e4e62;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__link:hover {
  background: #fa5252;
}
@media (max-width: 640px) {
  .nav {
    width: 70px;
  }
  .nav__list {
    height: 90vh;
  }
}

.burger {
  height: 15vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background: #455871;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger:hover {
  background: #3e4e62;
}
.burger__patty {
  position: relative;
  height: 2px;
  width: 40px;
  background: white;
}
.burger__patty:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty, .burger__patty:before, .burger__patty:after {
  will-change: transform;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger--active .burger__patty {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.burger--active .burger__patty:before {
  -webkit-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
          transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
}
.burger--active .burger__patty:after {
  -webkit-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
          transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
}
@media (max-width: 640px) {
  .burger {
    height: 10vh;
  }
  .burger__patty {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .burger--active .burger__patty {
    -webkit-transform: scale(0.8) rotate(90deg);
            transform: scale(0.8) rotate(90deg);
  }
}

.panel {
  margin: 0;	
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.panel__wrapper {
  padding: 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.panel__content {
  will-change: transform;
  -webkit-transform: scale(0.7) rotateX(-230deg);
          transform: scale(0.7) rotateX(-230deg);
  -webkit-transform-origin: center 80%;
          transform-origin: center 80%;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.panel__content--active {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.panel p:last-child {
  margin-bottom: 0;
}
.panel__block {
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0 25px 0;
}

.b-blue {
  margin-bottom: -2px;
  background-image: url(../img/first-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.b-red {
  background-image: url(../img/second-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
  margin-top: -2px;
}

.b-green {
  margin-top: -2px;
  background-image: url(../img/third-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.b-yellow {
  margin-top: -1px;
  background-image: url(../img/fourth-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
}



/*
========================
------ HOME STYLE ------
========================
*/

.home-content {
	height: 90vh;
	background-color: rgba(45, 58, 75, 0.5);
	padding: 0px 60px;
	position: relative;
	margin: 10vh auto 0 auto;
}

.home-content h1 {
	padding-top: 120px;
	font-size: 32px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
}

.home-content h1 em {
	margin-right: 20px;
	font-size: 80px;
	font-style: normal;
	font-weight: 800;
}

.home-content .home-box-content {
  margin-top: 45px;
	background-color: #455871;
	position: relative;
	right: -100px;
	padding: 30px;
	display: inline-block;
}

.home-content .left-text {     
	float: left;     
	width: 60%; 
}

.home-content .left-text h4 {
	display: inline-block;
	padding-bottom: 5px;
	font-size: 22px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-bottom: 2px solid #fff;
}

.home-content .left-text h4 em {
	color: #fa5252;
	font-style: normal;
}

.home-content .left-text p {
	color: #fff;
	margin-bottom: 25px;
}

.home-content .right-image {
	float: right;
}



/*
========================
------ ABOUT STYLE -----
========================
*/

.about-content {
  height: 100vh;
  background-color: rgba(45, 58, 75, 0.5);
  padding: 0px 60px;
  position: relative;
  margin: 0 auto;
}

.about-content .heading {
  padding-top: 40%;
}

.about-box-content {
  margin-left: -100px;
  margin-right: 100px;
}

.about-box-content img {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.about-content .about-box-text {
  background-color: #fff;
  padding: 30px;
  margin-top: 60px;
}

.about-content .about-box-text h4 {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 22px;
  color: #121212;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
}

.about-content .about-box-text p {
  color: #343434;
  margin-bottom: 20px;
}

.about-content .primary-button a:hover {
  background-color: transparent;
  color: #fa5252;
  border: 1px solid #fa5252;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}



/*
========================
---- PROJECTS STYLE ----
========================
*/

.projects-content {
  height: 100vh;
  background-color: rgba(45, 58, 75, 0.5);
  padding: 0px 60px;
  position: relative;
  margin: 0 auto;
}

.projects-content .heading {
  padding-top: 30%;
}

.project-item {
  width: 100%;
}

.project-item img {
  width: 100%;
}

.projects-content .owl-carousel {
  margin: 0 -30%;
  width: 160%;
}

.projects-content .text-content {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  padding: 25px 30px;
  margin-top: -45px;
  position: relative;
  z-index: 2;
}

.projects-content .text-content h4 {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 22px;
  color: #121212;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
}

.projects-content .primary-button a:hover {
  background-color: transparent;
  color: #fa5252;
  border: 1px solid #fa5252;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}




/*
========================
---- CONTACT STYLE -----
========================
*/

.contact-content {
  height: 100vh;
  background-color: rgba(45, 58, 75, 0.5);
  padding: 0px 60px;
  position: relative;
  margin: 0 auto;
}

.contact-content .heading {
  padding-top: 35%;
}

.contact-content .contat-form {
  background-color: rgba(250, 250, 250, 0.03);
  padding: 30px 80px 30px 30px;
  margin-right: -50px;
}

.contact-content input {
  margin-bottom: 20px;
  padding-left: 15px;
  width: 100%;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  font-size: 13px;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.05);
  border: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}


.contact-content textarea {
  margin-bottom: 20px;
  padding-left: 15px;
  width: 100%;
  max-width: 100%;
  max-height: 180px;
  height: 140px;
  display: inline-block;
  line-height: 40px;
  font-size: 13px;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.05);
  border: none;
  outline: none!important;
  border-radius: 0;
  box-shadow: none;
}

.contact-content button {
  display: inline-block;
  background-color: #fa5252;
  color: #fff;
  letter-spacing: 1px;
  font-size: 11px;
  padding: 12px 18px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 0px;
}

.contact-content button:hover {
  background-color: transparent;
  color: #fa5252;
  border: 1px solid #fa5252;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.contact-content .more-info {
  background-color: #fff;
  padding: 30px;
  margin-top: 50px;
  position: absolute;
  margin-left: -30px;
  margin-right: -100px;
}

.footer {
 text-align: center;
}

.footer p {
  padding: 20px 0px;
  color: #fff;
  font-weight: 300;
}

.footer p em {
  font-style: normal;
  font-weight: 400;
}

.footer a {
	color: #ff6;
}


/*
========================================
---------- RESPONSIVE STYLE ------------
========================================
*/

@media (max-width: 768px){
  .heading h4 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .home-content {
    text-align: center;
    margin: 0 auto;
    height: auto;
    padding: 0px 30px;
    width: 100vw;
  }
  .home-content .home-box-content {
    right: 0;
    margin-bottom: 30px;
  }
  .home-content h1 {
    margin-bottom: 0px;
    padding-top: 60px;
    font-size: 22px;
  }
  .home-content h1 em {
    font-size: 36px;
  }
  .home-content .left-text {     
    float: none;     
    width: auto; 
  }
  .home-content .right-image {
    text-align: center;
    float: none;
    margin-top: 30px;
  }
  .about-content {
    height: 100vh;
    text-align: center;
    padding: 0px 30px;
    width: 100vw;
  }
  .about-content .heading {
    padding-top: 10%;
  }
  .about-box-content {
    margin-left: 0px;
    margin-right: 0px;
  }
  .about-box-text {
    margin-bottom: 30px;
  }
  .about-box-content img {
    position: relative;
  }
  .about-content .about-box-text {
    background-color: #fff;
    padding: 30px;
    margin-top: -30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .projects-content {
    width: 100vh;
    height: 100vh;
    padding: 0px 30px;
  }
  .project-item  {
    padding: 0px 120px;
  }
  .project-item img {
    max-width: 100%;
  }
  .projects-content .heading {
    padding-top: 25%;
  }
  .projects-content .owl-carousel {
    margin: 0;
    width: 100%;
  }
  .projects-content .text-content {
    display: none;
  }
  .contact-content .more-info {
    padding: 30px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    margin-bottom: 60px;
  }
  .contact-content .contat-form {
    background-color: rgba(250, 250, 250, 0.03);
    padding: 20px;
    margin-right: 0px;
  }
  .contact-content {
    height: auto;
    width: 100vw;
    padding: 0px 30px;
  }
  .contact-content .heading {
    padding-top: 15%;
  }
}



/*Custom CSS*/
.js-form-item label{
  color: #fff;
}
.js-form-item .description{
  color: antiquewhite;
}