<section class="panel b-green" id="4">
  <article class="panel__wrapper" {{attributes}}>
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="contact-content">
              <div class="heading">
                <h4>{{content.field_title.0}}</h4>
              </div>
              <div class="row">
                <div class="col-md-8">
                  {{content.field_contact_form}}
                </div>
                <div class="col-md-4">
                  <div class="more-info">
                    {{content.field_content.0}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="footer">
              {{content.field_copyright.0}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

