
<section class="panel b-blue" id="1">
  <article class="panel__wrapper">
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="home-content">
              <div class="home-heading">
                <h1><em>{{ content.field_title.0 }}</em> {{ content.field_title_right.0 }}</h1>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="home-box-content">
                    <div class="left-text">
                        {{ content.field_sub_title.0 }}
                        {{ content.field_content.0 }}
                        <div class="primary-button">
                          <a href="{{content.field_discover_link.0['#url']}}" class="btn">
                              {{content.field_discover_link.0['#title']}}
                          </a>
                        </div>
                    </div>
                    <div class="right-image">
                      <img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
                       class="img-fluid" 
                       alt="{{ content.field_image['#items'].alt }}" 
                       title="{{ content.field_image['#items'].title }}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>