
<!-- Start About Banner Section  -->
<section class="panel b-yellow" id="2">
  <article class="panel__wrapper" {{attributes}}>
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="about-content">
              <div class="heading">
                <h4>{{content.field_title.0}}</h4>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="about-box-content">
                    <img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
                       class="img-fluid" 
                       alt="{{ content.field_image['#items'].alt }}" 
                       title="{{ content.field_image['#items'].title }}">
                  </div>
                </div>
                <div class="col-md-7 col-md-offset-5">
                  <div class="about-box-text">
                    {{content.field_sub_title.0}}
                    {{content.field_content.0}}
                    <div class="primary-button">
                      <a href="{{content.field_discover_link.0['#url']}}" class="btn">
                          {{content.field_discover_link.0['#title']}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<!-- End About Banner Section  -->