<div>
  <div class="project-item" {{attributes}}>
    <a href="{{ file_url(content.field_image['#items'].entity.uri.value)}}" data-lightbox="image-1">
     <img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
       class="img-fluid" 
       alt="{{ content.field_image['#items'].alt }}" 
       title="{{ content.field_image['#items'].title }}">
    </a>
    <div class="text-content">
      <h4>{{content.field_title.0}}</h4>
      {{content.field_content.0}}
      <div class="primary-button">
          <a href="{{content.field_discover_link.0['#url']}}" class="btn">
              {{content.field_discover_link.0['#title']}}
          </a>
      </div>
    </div>
  </div>
</div>
