
<section class="panel b-red" id="3">
  <article class="panel__wrapper" {{attributes}}>
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="projects-content">
              <div class="heading">
                <h4>{{content.field_title.0}}</h4>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="owl-carousel owl-theme projects-container">
                    {{content.field_project}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
        