<section class="panel b-green">
  <article class="panel__wrapper">
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="contact-content">
              <div class="heading">
                <h4>USER LOGIN</h4>
              </div>
              <div class="row">
                <div class="col-md-8">
                    <form role="form" id="sub-form">
                        <div class="form-group">
                         {{ form.name }}
                        </div>
                        <div class="form-group">
                        {{ form.pass }}
                        </div>
                        <div class="form-group">
                            <a href="password" alt="Request new password via email">Forgot password?</a>
                        </div>
                        {{ form.form_build_id }}
                        {{ form.form_id }}
                        <div class="login-button">
                            <a href="register">Sign Up</a>
                            {{ form.actions }}
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

