        <nav class="nav">
          <div class="burger">
            <div class="burger__patty"></div>
          </div>

          <ul class="nav__list">
            <li class="nav__item">
              <a href="{{base_path}}#1" class="nav__link c-blue"><img src="{{base_path}}/themes/stack_dd/img/home-icon.png" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="{{base_path}}#2" class="nav__link c-yellow scrolly"><img src="{{base_path}}/themes/stack_dd/img/about-icon.png" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="{{base_path}}#3" class="nav__link c-red"><img src="{{base_path}}/themes/stack_dd/img/projects-icon.png" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="{{base_path}}#4" class="nav__link c-green"><img src="{{base_path}}/themes/stack_dd/img/contact-icon.png" alt=""></a>
            </li>
          </ul>
        </nav>
{{page.content}}