
<section class="panel b-blue" id="1">
  <article class="panel__wrapper">
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="home-content">
              <div class="home-heading">
                <h1><em>403</em> Access Denied</h1>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="home-box-content">
                    <div class="left-text">
                        <h2>Access To The Webpage Was Denied.</h2>
                        <p>
                          You are not authorized to access this page. You must login to view this page.
                        </p>  
                        <div class="primary-button">
                          <a href="{{front_page}}" class="btn"> Go Home </a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
